---
network:
  version: {{ netplan_configuration['network']['version']|default('2') }}
{% if netplan_renderer is not none %}
  renderer: {{ netplan_renderer }}
{% endif %}
{% if netplan_configuration['network']['ethernets'] is defined %}
  ethernets:
    {{ ansible_default_ipv4.interface }}:
      dhcp4: true
{% endif %}
{% if netplan_configuration['network']['wifis'] is defined %}
  wifis:
{{ netplan_configuration['network']['wifis']|to_nice_yaml|indent(4, true) }}
{% endif %}
{% if netplan_configuration['network']['bonds'] is defined %}
  bonds:
{{ netplan_configuration['network']['bonds']|to_nice_yaml|indent(4, true) }}
{% endif %}
{% if netplan_configuration['network']['bridges'] is defined %}
  bridges:
{{ netplan_configuration['network']['bridges']|to_nice_yaml|indent(4, true) }}
{% endif %}
{% if netplan_configuration['network']['vlans'] is defined %}
  vlans:
    {{ ansible_default_ipv4.interface }}.1:
       accept-ra: no
       id: 1
       link: "{{ ansible_default_ipv4.interface }}"
       addresses:
         - "{{ internal_network_start | ansible.netcommon.ipmath(server_id) }}/{{ internal_cidr }}"
{% endif %}
