all:
  children:
    initial:
      hosts:
  {% for items in infodata %}
      {{ items.host_name }}:
          ansible_user: k3s1
          ansible_host: {{ items.host_ip }}
          ansible_python_interpreter: /usr/bin/python3
          k3s_control_node: true
          server_id: {{ loop.index }}
  {% endfor %}