k3s_become_for_all: true
k3s_etcd_datastore: false
k3s_release_version: "{{ k3s_version }}"
k3s_registration_address: "{{ internal_vip }}"
k3s_server:
  datastore-endpoint: mysql://{{ mariadb_user }}:{{ mariadb_password }}@tcp({{ internal_vip }}:3306)/{{ mariadb_dbname }}