keepalived__nonlocal_bind: true
keepalived__routers:
  - name: vrrp_mariadb
    check_script:
      - name: chk_haproxy
        script: 'killall -0 haproxy'
        interval: 2
        weight: 2
        fall: 1
        rise: 1
    vip_int: (( vlan_name ))
    master_node: (( groups.proxy | first ))
    router_pri_master: 150
    router_pri_backup: 100
    advert_int: 1
    nopreempt: true
    auth_pass: (( keep_pass ))
    router_id: 50
    vip_addresses:
      - (( internal_vip ))